.backarrow {
        height: 50px;
        width: 50px;
        margin-left: 15px;
        margin-top: 10px;
}
.backarrow-container {
	width: 70px;
}

.backarrow:hover {
    border-radius:50%;
    cursor: pointer;
}