body {
	background-image: url("http://i.imgur.com/gFhdbSt.jpg");
	background-size: cover;


}

.container {
	margin-top: -60px;
}

.header {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 400%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.price {
	float: right;
	margin-right: 50px;
}

.list-group-item {

	font-family: 'Montserrat', sans-serif;
}

.list-group {
	margin-left: 8%;
	margin-right: 8%;
}
